body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(156, 154, 154);
    position: fixed;
    top: 0;
    width: 100%;
  }
li {
    float: left;
    border-left:1px solid white;
  }
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  input[type=text] {
    width: 1000px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  .home {
    background-color: red;
  }
  div.gallery {
    margin: 10px;
    float: left;
    width: 240px;
  }
  div.gallery img {
    width: 100%;
    height:auto;
  }
  


   
 
 
       
