body {
    
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    color:#000;
}
* {
    box-sizing: border-box;
}
.basis {
    background-color: #FFCDD2;
    margin: 0;
}
 a {
    text-decoration: none;
}
.inner {
    background-color: #FFFFFF;
    margin: 400px 70px 0px 70px;
    box-shadow: 5px 4px 8px 0 #808080, 0 6px 20px 0 #808080;
    z-index: 1000;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 160px;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li.himn{
    float: left;
  } 
li a {
    color:#C6C6C6;
    text-decoration: none;    
    display: block;    
} 
.nav_link,.subnav {
    text-align: center;
    color:#C6C6C6;
    font-size: 18px;
    text-decoration: none;
    display: block;
    width: 80px;
    height: 40px;
    padding: 3px;
}
.nav_link:hover {
    color: rgb(241, 127, 142);
}
 .nav_link,.subnav:first-child { 
     color: #E1C9CF; 
}
 .nav_link:first-child:hover {
    color: rgb(241, 127, 142);
}
.subnav:hover {
    color: rgb(241, 127, 142);
} 
#nav>ul>li>ul {
     
    display: none;
}      
.icon {
    color: #000;
    font-size: 24px;
    text-decoration: none;
}

.orakl {
    display: block;
    text-align: center;
    width: 100%;
    margin: 20px 0;

}
.title {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    overflow: hidden;
    position: relative;
    
    text-align: center;
    white-space: nowrap;
}
.title:before,
.title:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 20%;
    height: 1px;
    vertical-align: middle;
    background: #000;
}
.title:before {
    left: -10px;
    margin-left: -50%;   
}
.title:after {
    left: 10px;
    margin-right: -50%;
}
.center {
    text-align: center;
}

img.title-img {
    grid-column-start: 1;
    grid-column-end: 7;
    width: 100%;
    }
.part1 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px   
}
.content {
    
    padding: 20px;
    margin: 0; 
}
.readmore {
    color: #000;
    text-decoration: none;
    background-color: #F9E0DC;
    padding: 5px;
    text-align: center;
}
.readmore:hover {
    background-color: #FFCDD2;
    padding: 6px;
}
.part2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    background-color: #F9E0DC;
}
.imgfavorit {
    grid-column-start: 1;
    grid-column-end: 3;  
}
.textfavorit {
    text-align:left;
    padding: 60px 25px;  
}
.titlefavorit {
    margin: 0;
    font-size: 50px;
}
.favoritcontent {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
.morefavorit {
    color: #000;
    text-decoration: none;
    background-color:#50B1BD;
    padding: 5px 15px;
    text-align: center; 
}
.morefavorit:hover {
    color: #FFFFFF;
}
.part3 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    margin-top: 40px;
    
}
.footer {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #F9E0DC;
    
}
.items {
    margin: 100px 0 100px 100px;
    text-align: left;
}
 input {
    width: 100%;
    padding: 10px;
 }
 input[type=submit] {
    background-color:#000;
    border: none;
    color: #FFFFFF;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}
.iconfooter {
    text-align: right;
    font-size: 24px;
    text-decoration: none;
}

.titles {
    text-align: center;
    margin: 100px;
}
.titlefooter {   
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.navfooter {
    margin: 100px;
    list-style-type: none;
    padding: 0;
}

li a {
    color:#000;
    text-decoration: none;
    display: block;   
    text-align: right;
    padding: 5px;
}
.nav_linkfoot {
    padding: 7px;
    color: #000;
}
.nav_linkfoot:hover {
    color: rgb(241, 127, 142);
}
li:first-child a {
    color:#EBB6BE;
}
@media (max-width:1200px) { 
    .titlefavorit {
        font-size:45px;
       }
    .favoritcontent {
        font-size:15px;
       }
    .textfavorit {
        padding: 30px 20px;  
    } 
    }
@media (max-width:900px) {
    .inner {
        margin: 180px 15px 0 15px;
    }
    
    h2 {
        font-size: 1em;
    }
    .content {
        font-size: 0.5em;
        padding: 10px;
    }
    .title {
        font-size: 40px
    }
    .titlefavorit {
        font-size:30px;
       }
    .favoritcontent {
        font-size:12px;
       }
    .morefavorit {
        font-size: 12px;
    }
    .items {
        margin: 50px 0 50px 50px;
        font-size: 12px;
    }
    .titles {
        margin: 50px;
    }
    .titlefooter {
        font-size: 20px;
    }
    .navfooter {
        margin: 50px;
    }
    .readmore {
        font-size: 12px;
    }
    .navfooter {
        font-size: 12px;
    }
    .minititlefooter {
        font-size: 12px;
    }
    .icon,.iconfooter {
        font-size: 18px;
    }
}
@media (max-width:700px) {
    .nav_link,.subnav {
        font-size: 14px;
        width: 60px;
        height: 30px;
    }
    .title {
        font-size: 30px;
    }
    .center {
        font-size: 14px;
    }
    .inner {
        margin: 80px 25px 0 25px;
    }
    .icon,.iconfooter {
        font-size: 12px;
    }
    input {
        padding: 5px;
    }
    input[type=submit] {
        padding: 8px 16px;
    }
    .textfavorit {
        
        padding: 10px;  
    }   
@media (max-width:500px) {
    .nav_link,.subnav {
        font-size: 10px;
        width: 40px;
        
    }
    .title {
        font-size: 20px;
    }
    .inner {
        margin: 50px 5px 0 5px;
        box-shadow: none;
    }
    .icon,.iconfooter {
        font-size: 10px;
    }
    .titlefavorit {
        font-size:20px;
    }
    .favoritcontent {
        font-size:8px;
    }
    .morefavorit {
        font-size: 8px;
    }
    .items {
        margin: 15px 0 15px 15px;
        font-size: 8px;
    }
    .icon,.iconfooter {
        font-size: 8px;
    }
    .navfooter {
        margin: 15px;
    }
    .readmore {
        font-size: 8px;
    }
    .navfooter {
        font-size: 8px;
    }
    .minititlefooter {
        font-size: 8px;
    }
    .titles {
        margin: 15px;
    }
    h2 {
        font-size: 0.8em;
    }
    .center {
        font-size: 10px;
    }
    .readmore {
        font-size: 6px;
    }
    .textfavorit {
        padding:5px;  
    }   