body {
    margin-top: 20px;
    font-family:'Roboto', sans-serif;
    font-size: 15px;
    color: black;
}
* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    font-size: 18px;

}
.nav_link {
    color:darkgrey;
    text-decoration: none;
    border-right: 2px solid darkgrey;
    display: inline-block;
    vertical-align: top;
    padding: 7px;
}
.nav_link:first-child {
    color: red;
}
.nav_link:last-child {
    border-right: none;
}
.icon {
    color: #000;
}
.orakl {
    display: block;
    text-align: center;
    width: 100%;
    margin: 20px 0;

}
.title {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    overflow: hidden;
    position: relative;
    
    text-align: center;
    white-space: nowrap;
}
.title:before,
.title:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 20%;
    height: 1px;
    vertical-align: middle;
    background: black;
}
.title:before {
    left: -10px;
    margin-left: -50%;   
}
.title:after {
    left: 10px;
    margin-right: -50%;
}
.minititle {
    text-align: center;
}
.grid-container>div {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 30px  
}
img.title-img {
    grid-column-start: 1;
    grid-column-end: 7;
    width: 100%;
    }
.part1 {
    margin-top: 30px;
    display: grid;
    height: 400px;

}
.item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-gap: 10px;
    width: 100%;
    
}
.item3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-gap: 10px;
    width: 100%;
     
}
.item4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-gap: 10px;
    width: 100%;
       
}
img.bgg {
    width: 100%;
}
.content {
    text-align:center;
    padding:0 200px; 
}